## Load file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test_id.csv')
sub = pd.read_csv('sample_submission.csv')

In [2]:
#Drop duplicates and set time index
train_df.drop_duplicates(inplace=True)
train_df['DATE_TIME'] = train_df['UPDATE_TIME'] + ' ' + (train_df['HOUR_ID'].astype(str)) + ':00:00'
train_df['DATE_TIME'] = pd.to_datetime(train_df['DATE_TIME'])
train_df.set_index('DATE_TIME',inplace=True)

In [3]:
## Define function and metrics
import datetime

def mean_absolute_percentage_error(a, b): 
    a = np.array(a)
    b = np.array(b)
    mask = a != 0
    return (np.abs(a - b)/a)[mask].mean()*100

def smape(a, b): 
    a = np.array(a)
    b = np.array(b)
    mask = a != 0
    return (np.abs(a - b)/(np.abs(a)+np.abs(b)))[mask].mean()*100
                         
def split_1(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        end_ix = i + n_steps
        if end_ix > len(sequence)-1:
            break
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    
    return np.array(X), np.array(y)

def split_2(sequence, n_steps):
    a = list(sequence)
    X,y = list(), list()
    for i in reversed(range(len(a))):
        if i == n_steps-1:
            break
        seq_y = a[i]
        seq_x = a[i-n_steps:i:24] + a[i-24:i] \
                +[np.mean(a[i-n_steps:i:24]),
                  np.min(a[i-n_steps:i:24]),
                  np.max(a[i-n_steps:i:24])]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

def generate_date_time_series(d):
    start = d[0]
    end = d[1]
    step = datetime.timedelta(hours=1)

    result = []

    while start < end:
        result.append(start.strftime('%Y-%m-%d %H:%M:%S'))
        start += step
    result.append(d[1])
    return result

In [4]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from numpy import array
from sklearn.model_selection import train_test_split

Nlog=True

def model_1(TIMESERIAL):
    
    train,test = TIMESERIAL[:-24*31],TIMESERIAL[-24*31:]
    n_steps = 24*31
    X, y = split_1(TIMESERIAL,n_steps)
    X_train = X
    y_train = y
    
    model = Ridge()
    model.fit(X_train, y_train)
    pred = model.predict(X_train)
    if Nlog:
        y_train = np.exp(y_train)
        pred = np.exp(pred)
    print(smape(y_train,pred))
    
    bw_pred = []
    for i in range(24*31):
        seq = TIMESERIAL[-24*31:]
        yhat = model.predict(np.array([seq]))
        TIMESERIAL = np.append(TIMESERIAL,yhat[0])
        bw_pred.append(yhat[0])
    if Nlog:
        bw_pred = np.exp(bw_pred)
        
    return bw_pred

def model_2(TIMESERIAL):
    
    train,test = TIMESERIAL[:-24*31],TIMESERIAL[-24*31:]
    n_steps = 24*31
    X, y = split_2(TIMESERIAL,n_steps)
    X_train = X
    y_train = y
    
    model = Ridge()
    model.fit(X_train, y_train)
    pred = model.predict(X_train)
    if Nlog:
        y_train = np.exp(y_train)
        pred = np.exp(pred)
    print(smape(y_train,pred))
    
    bw_pred = []
    for j in range(24*31):
        i = len(TIMESERIAL)
        seq = np.append(TIMESERIAL[i-n_steps:i:24],TIMESERIAL[i-24:i])
        seq = np.append(seq,np.array([np.mean(TIMESERIAL[i-n_steps:i:24]),
                  np.min(TIMESERIAL[i-n_steps:i:24]),
                  np.max(TIMESERIAL[i-n_steps:i:24])]
            ))
        yhat = model.predict(np.array([seq]))
        TIMESERIAL = np.append(TIMESERIAL,yhat[0])
        bw_pred.append(yhat[0])
    if Nlog:
        bw_pred = np.exp(bw_pred)
        
    return bw_pred

In [5]:
list_df_1 = []
server_names = test_df.ZONE_CODE.unique()
for j,name in enumerate(server_names):
    
    print(j, name)
    
    t1 = generate_date_time_series(train_df[train_df['ZONE_CODE'] == name].index[[0,-1]])
    SERVER = train_df[train_df['ZONE_CODE'] == name]
    x = pd.DataFrame({'DATE_TIME':t1,'BANDWIDTH_TOTAL':np.nan, 'MAX_USER':np.nan})
    x['DATE_TIME'] = pd.to_datetime(x['DATE_TIME'])
    x.set_index('DATE_TIME',inplace=True)

    df = pd.concat([SERVER[['BANDWIDTH_TOTAL','MAX_USER']],x])
    df1 = df[~df.index.duplicated(keep='first')]
    df1.sort_index(inplace=True)
    if Nlog:
        df1.replace(0,0.000003,inplace=True)

    TIMESERIAL = df1['BANDWIDTH_TOTAL'].values.copy()
    xx = np.argwhere(np.isnan(TIMESERIAL)).flatten()
    for i in xx:
        TIMESERIAL[i] = np.nanmean([ TIMESERIAL[i-24*j] for j in range(1,4)])
    if Nlog:
        TIMESERIAL = np.log(TIMESERIAL)
        
    bw_pred_1 = model_1(TIMESERIAL)
    bw_pred_2 = model_2(TIMESERIAL)
    bw_pred = bw_pred_1*0.67 + bw_pred_2*0.33
    list_df_1.append(pd.DataFrame({'ZONE_CODE':[name]*744,'HOUR_ID':[i for i in range(24)]*31,'BANDWIDTH_TOTAL':bw_pred}))

0 ZONE01
3.104925203327043
4.473202115557343
1 ZONE02
4.997159921125216
5.520889339309781
2 ZONE03
5.8352367570688815
6.616079528277415

In [6]:
bw_df = pd.concat(list_df_1)
bw_df['UPDATE_TIME'] = np.array(list(np.array(([[i]*24 for i in list((test_df['UPDATE_TIME']).unique())])))*3).flatten() 
bw_df.head()

  ZONE_CODE  HOUR_ID  BANDWIDTH_TOTAL UPDATE_TIME
0    ZONE01        0     58233.240500  2019-03-10
1    ZONE01        1     31674.809153  2019-03-10
2    ZONE01        2     18350.672951  2019-03-10
3    ZONE01        3     16887.952436  2019-03-10
4    ZONE01        4     15198.587382  2019-03-10

In [7]:
list_df_2 = []
for idx,name in enumerate(test_df['ZONE_CODE'].unique()):
    print(idx,name)
    t = pd.DataFrame(train_df[train_df['ZONE_CODE']==name].groupby(['UPDATE_TIME']).size(),columns = ['num_hours'])
    t2 = train_df[(train_df['ZONE_CODE']==name)&(train_df['UPDATE_TIME']==t[t['num_hours']==24].index[-1])]
    list_df_2.append(t2)
mu_df = pd.concat(list_df_2)[['ZONE_CODE','HOUR_ID','MAX_USER']] 
mu_df.head()

0 ZONE01
1 ZONE02
2 ZONE03

                    ZONE_CODE  HOUR_ID  MAX_USER
DATE_TIME
2019-03-09 00:00:00    ZONE01        0  580890.0
2019-03-09 01:00:00    ZONE01        1  408255.0
2019-03-09 02:00:00    ZONE01        2  337773.0
2019-03-09 03:00:00    ZONE01        3  323595.0
2019-03-09 04:00:00    ZONE01        4  329460.0

In [8]:
test_df = pd.read_csv('test_id.csv')
test_df = test_df.merge(bw_df,how='left',on=['ZONE_CODE','UPDATE_TIME','HOUR_ID'])
test_df = test_df.merge(mu_df,how='left',on=['ZONE_CODE','HOUR_ID'])
test_df.fillna(0,inplace=True)
test_df.head()

   id UPDATE_TIME ZONE_CODE  HOUR_ID  BANDWIDTH_TOTAL  MAX_USER
0   0  2019-03-10    ZONE01        0     58233.240500  580890.0
1   1  2019-03-10    ZONE01        1     31674.809153  408255.0
2   2  2019-03-10    ZONE01        2     18350.672951  337773.0
3   3  2019-03-10    ZONE01        3     16887.952436  323595.0
4   4  2019-03-10    ZONE01        4     15198.587382  329460.0

In [9]:
test_df['label'] = test_df['BANDWIDTH_TOTAL'].round(2).astype(str) + ' ' + test_df['MAX_USER'].astype(int).astype(str)
test_df[['id','label']].to_csv('sub.csv',index=False)

In [10]:
test_df.head()

,id,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,label
0,0,2019-03-10,ZONE01,0,58233.240500,580890.0,58233.24 580890
1,1,2019-03-10,ZONE01,1,31674.809153,408255.0,31674.81 408255
2,2,2019-03-10,ZONE01,2,18350.672951,337773.0,18350.67 337773
3,3,2019-03-10,ZONE01,3,16887.952436,323595.0,16887.95 323595
4,4,2019-03-10,ZONE01,4,15198.587382,329460.0,15198.59 329460